name: Build and Push Docker Image to GHCR

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/build-and-push.yaml
      - telegram-autoregexbot/**/*
      - autoregexbot.cfg
      - Dockerfile
      - pyproject.toml
      - uv.lock
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Docker Image for ${{ matrix.name }}
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          build-args: VERSION=${{ github.sha }}
          tags: |
            ghcr.io/santarl/telegram-autoregexbot:latest
            ghcr.io/santarl/telegram-autoregexbot:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha
