name: Build and Push Docker Image to GHCR

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/build-and-push.yaml
      - telegram_autoregexbot/**/*
      - autoregexbot.cfg
      - Dockerfile
      - pyproject.toml
      - uv.lock
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Generate CalVer
        id: calver
        run: echo "date=$(date -u +'%y.%m.%d')" >> $GITHUB_OUTPUT

      - name: Build and Push Docker Image for ${{ matrix.name }}
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          build-args: |
            VERSION=${{ github.sha }}
            BOT_VERSION=v${{ steps.calver.outputs.date }}
          tags: |
            ghcr.io/santarl/telegram-autoregexbot:latest
            ghcr.io/santarl/telegram-autoregexbot:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha

      - name: Update image tag
        run: yq -i '.spec.template.spec.containers[0].image = "ghcr.io/santarl/telegram-autoregexbot:${{ github.sha }}"' k8s/deployment.yaml

      - name: Commit to repo
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          commit_message: "k8s: Bump image to ${{ github.sha }} [no ci]"
          file_pattern: "k8s/deployment.yaml"
